# NOMBRES DE PROFESORES DE LA FI-UNAM

Este script extrae los nombres de los profesores activos de la FI.

Se tiene que actualizar cada semestre, ya que es muy probable que los profesores cambien de semestre a semestre.

In [46]:
import os
import pandas as pd
from collections import Counter

In [39]:
LETTERS = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', '%D1', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

BASE_URL = 'https://www.ingenieria.unam.mx/nuestra_facultad/informacion/planta_busqueda.php?letra='

In [40]:
nombres_profesores = pd.DataFrame()

for letter in LETTERS:
  print(f"Obteniendo nombres de profesores que empiezan con la letra {letter}")
  url = BASE_URL + letter
  html_tables = pd.read_html(url, header=0)
  if len(html_tables) > 1:
    df = html_tables[1]
    nombres_profesores = pd.concat([nombres_profesores, df], ignore_index=True)

Obteniendo nombres de profesores que empiezan con la letra A
Obteniendo nombres de profesores que empiezan con la letra B
Obteniendo nombres de profesores que empiezan con la letra C
Obteniendo nombres de profesores que empiezan con la letra D
Obteniendo nombres de profesores que empiezan con la letra E
Obteniendo nombres de profesores que empiezan con la letra F
Obteniendo nombres de profesores que empiezan con la letra G
Obteniendo nombres de profesores que empiezan con la letra H
Obteniendo nombres de profesores que empiezan con la letra I
Obteniendo nombres de profesores que empiezan con la letra J
Obteniendo nombres de profesores que empiezan con la letra K
Obteniendo nombres de profesores que empiezan con la letra L
Obteniendo nombres de profesores que empiezan con la letra M
Obteniendo nombres de profesores que empiezan con la letra N
Obteniendo nombres de profesores que empiezan con la letra %D1
Obteniendo nombres de profesores que empiezan con la letra O
Obteniendo nombres de profesores que empiezan con la letra P
Obteniendo nombres de profesores que empiezan con la letra Q
Obteniendo nombres de profesores que empiezan con la letra R
Obteniendo nombres de profesores que empiezan con la letra S
Obteniendo nombres de profesores que empiezan con la letra T
Obteniendo nombres de profesores que empiezan con la letra U
Obteniendo nombres de profesores que empiezan con la letra V
Obteniendo nombres de profesores que empiezan con la letra W
Obteniendo nombres de profesores que empiezan con la letra X
Obteniendo nombres de profesores que empiezan con la letra Y
Obteniendo nombres de profesores que empiezan con la letra Z

In [45]:
filtered_df = nombres_profesores.loc[nombres_profesores['Nombramiento'] == 'PROF ASIG A']
nombres = filtered_df['Académico']
nombres = nombres.drop_duplicates()

1         ABELA POSADA RICARDO FERNANDO
3            ABREGO BLANCAS OMAR EDSIEL
4                 ACEVEDO LOPEZ GUIOMAR
5          ACEVES BUENDIA JOSE DE JESUS
7             ACOSTA BERNAL LUIS JAVIER
                     ...
2350              ZEPEDA PUEBLA ROBERTO
2352    ZERECERO GALICIA SERGIO EDUARDO
2354        ZUÑIGA ACEVEDO FERNANDO SET
2355               ZUÑIGA BARRAGAN HUGO
2359       ZUÑIGA MEDEL MARIA ALEJANDRA
Name: Académico, Length: 1248, dtype: object

In [42]:
output_dir = os.path.join(os.path.dirname(os.getcwd()), 'results')
os.makedirs(output_dir, exist_ok=True)

output_file = os.path.join(output_dir, 'nombres_profesores.txt')

with open(output_file, 'w') as f:
  for nombre in nombres:
    f.write(nombre + '\n')

print(f"Se guardaron los nombres de los profesores en {output_file}")

Se guardaron los nombres de los profesores en /home/chow-u/projects/horarios-fi/webscraping/results/nombres_profesores.txt

In [48]:
apellidos = nombres.str.split().str[:2]
contador = Counter(tuple(x) for x in apellidos)
duplicados = [apellido for apellido, count in contador.items() if count > 1]

if duplicados:
  print("Se encontraron apellidos duplicados:")
  print(len(duplicados))
  for apellido in duplicados:
    print(apellido)
else:
  print("No se encontraron apellidos duplicados")

Se encontraron apellidos duplicados:
45
('BARRERA', 'DEL')
('CARMONA', 'PAREDES')
('CASTILLO', 'HERNANDEZ')
('DE', 'JESUS')
('DE', 'LA')
('DIAZ', 'GARCIA')
('DIAZ', 'SALGADO')
('ESCALANTE', 'ESTRADA')
('FIGUEROA', 'PALACIOS')
('FLORES', 'GARCIA')
('FLORES', 'GOMEZ')
('FRANCO', 'DOMINGUEZ')
('GARCIA', 'GARCIA')
('GARCIA', 'ROMERO')
('GARCIA', 'SANCHEZ')
('GONZALEZ', 'PACHECO')
('HERNANDEZ', 'ALVAREZ')
('HERNANDEZ', 'HERNANDEZ')
('HERNANDEZ', 'ITZCUA')
('HERNANDEZ', 'LOPEZ')
('HERNANDEZ', 'ROMERO')
('HUERTA', 'CRUZ')
('LOPEZ', 'GARCIA')
('LOPEZ', 'HERNANDEZ')
('LOPEZ', 'MOLINA')
('LOPEZ', 'RODRIGUEZ')
('MALDONADO', 'SUSANO')
('MANCILLA', 'URREA')
('MARTINEZ', 'LOPEZ')
('MARTINEZ', 'ROSAS')
('PANIAGUA', 'LOVERA')
('PEREZ', 'DE')
('PEREZ', 'GARCIA')
('PEREZ', 'GOMEZ')
('RAMIREZ', 'CRUZ')
('REYES', 'GARCIA')
('RINCON', 'GOMEZ')
('RODRIGUEZ', 'GARCIA')
('ROMERO', 'HERNANDEZ')
('SANCHEZ', 'PEREZ')
('SANCHEZ', 'REYES')
('SANDOVAL', 'RODRIGUEZ')
('SERRALDE', 'GONZALEZ')
('VAZQUEZ', 'FUENTES')
('VEGA', 'GONZALEZ')